.products {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	border-top: 1px solid rgba(128, 128, 128, 0.329);
	list-style-type: none;
	padding-top: 5em;
	min-height: 1000px;
}

.el-wrapper {
	font-size: 15px;
	width: 360px;
	height: 400px;
	padding: 15px;
	margin: 15px auto;
	background-color: #fff;
}

@media (max-width: 991px) {
	.el-wrapper {
		width: 345px;
	}
}

@media (max-width: 767px) {
	.el-wrapper {
		width: 290px;
		margin: 30px auto;
	}
}

.el-wrapper:hover .h-bg {
	left: 0px;
}

.el-wrapper:hover .price {
	left: 20px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
}
.el-wrapper:hover .start {
	left: 102px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: white;
}

.el-wrapper:hover .add-to-cart {
	left: 80%;
}

.el-wrapper:hover .img {
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
	opacity: 0.3;
}

.el-wrapper:hover .info-inner {
	bottom: 235px;
}

.el-wrapper:hover .product-description {
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
	top: 37%;
	opacity: 1;
	color: rgba(0, 0, 0, 0.678);
	text-align: center;
	text-wrap: wrap;
}

.el-wrapper .box-down {
	width: 100%;
	height: 60px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	
}
.el-wrapper .box-down:active {
	box-shadow: none;
	transform: translateY(1px);
}

.el-wrapper .box-up {
	width: 100%;
	height: 330px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.el-wrapper .img {
	width: 55%;
	height: 200px;
	padding: 20px 0;
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
}

.h-bg {
	-webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	width: 660px;
	height: 100%;
	background-color: rgb(5, 69, 71);
	position: absolute;
	left: -659px;
}

.h-bg .h-bg-inner {
	width: 52%;
	height: 100%;
	background-color: #464646;
}

.info-inner {
	-webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	bottom: 15px;
}

.info-inner .p-name,
.info-inner .p-category {
	display: block;
}

.info-inner .p-name {
	font-size: 18px;
	color: #252525;
}

.info-inner .p-category {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #8c8c8c;
}

.product-description {
	-webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	position: absolute;
	width: 100%;
	height: 180px;
	overflow-y: auto;
	bottom: -10px;
	color: #828282;
	opacity: 0;
}

.product-description .size {
	color: #252525;
}

.cart {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-weight: 700;
}

.cart .price {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 30%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #252525;
}
.cart .start {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 47%;
	left: 60%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 16px;
	color: #252525;
}

.cart .add-to-cart {
	-webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	-o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	-o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
	/* ease-out */
	-webkit-transition-delay: 100ms;
	-o-transition-delay: 100ms;
	transition-delay: 100ms;
	display: block;
	position: absolute;
	top: 50%;
	left: 110%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
	font-size: 12px;
	color: #fff;
	letter-spacing: 0.045em;
	text-transform: uppercase;
	white-space: nowrap;
}
