
.bodySide {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin-top: 5em;
}

.leftSide {
	width: 50%;
}

.leftSide {
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
}
@media screen and (max-width: 800px) {
	.bodySide {
		margin: 1em;
		height: auto;
		margin-top: 1em;
		flex-direction: column-reverse;
	}

	.leftSide{
		width: 90%;
	}
}
