.bodyCart {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2em;
	min-height: 100vh;
}

.shoppingListCart {
	width: 55%;
}

.shoppingListCart {
	background-color: #fff;
	border-radius: 0.5em;
	padding: 1em;
}
@media screen and (max-width: 1800px) {
	.bodyCart {
		padding: 1em 2em;
		min-height: 95vh;
	}
}

@media screen and (max-width: 900px) {
	.bodyCart {
		padding: 6em 2em;
		height: auto;
		flex-direction: column-reverse;
	}

	.shoppingListCart {
		width: 90%;
	}
}
