.shopping__logo-wrapper {
	flex: 1 0 40%;
}

.shopping__logo {
	display: block;
	width: 50px;
	height: auto;
	margin-left: 15px;
}

.shopping__header-info {
	flex: 1 0 50%;
}

.shopping__date,
.shopping__ref {
	display: block;
	font-size: 19px;
	color: #aaa;
	font-weight: 300;
}

.shopping__date {
	margin-bottom: 5px;
}

.shopping__subheader-wrapper {
	background: #fff;
	padding-bottom: 20px;
	padding-top: 3em;
}

.shopping__subheader {
	padding: 0 45px 0 40px;
	border-left: 5px solid rgb(5, 69, 71);
}

.shopping__username {
	margin: 0 0 10px 0;
	font-size: 22px;
	font-weight: 600;
}

.shopping__help-text {
	color: #aaa;
	font-weight: 300;
}

.shopping__cart {
	padding: 5px 30px 45px;
	display: flex;
	flex-direction: column;
	button {
		background-color: green;
	}
}

.shopping__cart-title {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 0.1em;
	svg {
		color: black;
	}
}

.shopping__cart-list {
	margin: 0;
	padding: 0 15px;
	list-style: none;
}

.shopping__cart-item {
	display: block;
	padding-top: 20px;
	margin-bottom: 20px;
	border-top: 2px dashed #aaa;

	font-size: 18px;
}

.shopping__cart-item:first-child {
	border-top: 0;
}

.shopping__index {
	padding-right: 15px;
	color: #aaa;
	font-weight: 300;
}

.shopping__item-name {
	color: #aaa;
	font-weight: 300;
}

.shopping__item-price {
	float: right;
	letter-spacing: 1px;
}

.shopping__cart-total {
	font-size: 20px;
	text-transform: uppercase;
}

.shopping__cart {
	background-color: #fff;
}
