.shoppingList {
	padding: 1em;
	h2 {
		border-bottom: 1px solid rgba(128, 128, 128, 0.315);
		padding-bottom: 0.5em;
	}
	ul {
		display: flex;
		list-style: none;
		flex-direction: column;
		gap: 1em;
		max-height: 450px;
		overflow: auto;
		padding: 1em;
		margin-top: 1em;
		li {
			border-bottom: 1px solid rgba(128, 128, 128, 0.253);
			padding-bottom: 1em;
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap;
			gap: 1em;
			button {
				color: white;
				background-color: red;
			}
			p {
				width: 200px;
				text-wrap: wrap;
			}
			img {
				border: 1px solid rgba(128, 128, 128, 0.288);
				object-fit: fill;
				width: 75px;
				height: 90px;
				border-radius: 0.5em;
				padding: 1em;
			}
		}
	}
}

.priceContent {
	display: flex;
	gap: 1em;
	width: 250px;
	justify-content: space-between;
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		span:nth-child(2) {
			color: rgba(0, 0, 0, 0.534);
		}
	}
}

.quantityContent {
	display: flex;
	align-items: center;
	gap: 0.5em;
	width: 110px;
	justify-content: space-between;
	:nth-child(3) {
		border-radius: 2em;
		width: 40px;
		background-color: green;
	}
	:nth-child(1) {
		border-radius: 2em;
		width: 40px;
	}
}



@media screen and (max-width: 1000px) {
	.shoppingList {
		padding: 0em;
		text-align: center;
		ul {
			li {
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}

	.priceContent {
		flex-direction: column;
		div {
			align-items: center;
		}
	}
}
