.navBar {
	background-color: rgb(5, 69, 71);
	display: flex;
	flex-direction: column;
	justify-content: center;

	ul {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1em;
		list-style: none;
		a {
			display: flex;
			justify-content: center;
			gap: 0.5em;
			align-items: center;
			text-decoration: none;
			color: white;
		}

		li {
			display: flex;
			align-items: center;
		}
	}
	svg {
		color: white;
	}
}
