.cartCounter {
	b {
        display: flex;
        align-items:center ;
        justify-content: center;
		position: absolute;
        width: 15px;
        height: 15px;
		color: white;
		background-color: rgb(248, 122, 4);
		border-radius: 1em;
		font-size: 0.7em;
		padding: 0.2em;
		top: 1.4em;
		right: 1em;
	}
}
