.headSide {
	display: flex;
	gap: 0.2em;
	align-items: center;
	justify-content: center;
	padding-top: 2em;

	svg {
		color: black;
	}
}

.bodySide {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
	margin: 2em;
}

.leftSide {
	width: 55%;
	/* flex: 2; */
}

.rightSide {
	width: 30%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	/* flex: 1; */
}

.leftSide,
.rightSide {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: rgb(252, 252, 252);
	border-radius: 0.5em;
	padding: 1em;
	height: 650px;
}
@media screen and (max-width: 800px) {
	/* .bodySide { */
		/* flex-direction: column; */
		/* flex-direction: column-reverse; */
	/* } */

	.leftSide, .rightSide {
		width: 90%;
	}
}
