* {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;

	svg {
		color: white;
		cursor: pointer;
	}

	::-webkit-scrollbar {
		width: 0.2em;
	}

	::-webkit-scrollbar-track {
		background-color: rgba(237, 234, 234, 0.784);
		outline: 1px solid rgba(196, 196, 197, 0.58);
	}

	::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	body {
		background-color: #e3e6e6;
	}

	.container {
		padding: 1em;
	}
}
